.App {
  padding: 20px;
  width: 960px;
  margin: 0 auto;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container > .left,
.container > .right {
  padding: 12px;
}
.container > .left {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.container > .right {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.right {
  background-color: #f8f8f8;
}
